/*-------- GROUPES (ROOT) ----------*/
:root{

--enti: #c3934e;
--entiop: rgba(195, 147, 78, 0.5);
--entioop: rgba(195, 147, 78, 0.3);

--weaver: #CF8399;
--weaverop: rgba(207, 131, 153, 0.5);
--weaveroop: rgba(207, 131, 153, 0.3);

--pyre: #C86A3A;
--pyreop: rgba(200, 106, 58, 0.5);
--pyreoop: rgba(200, 106, 58, 0.3);
 
--kin: #5D7395;
--kinop: rgba(93, 115, 149, 0.5);
--kinoop: rgba(93, 115, 149, 0.3);

--tide: #309593;
--tideop: rgba(48, 149, 147, 0.5);
--tideoop: rgba(48, 149, 147, 0.3);

--terra: #61A680;
--terraop: rgba(97, 166, 128, 0.5);
--terraoop: rgba(97, 166, 128, 0.3);

--dusk: #C14F75;
--duskop: rgba(193, 79, 117, 0.5);
--duskoop: rgba(193, 79, 117, 0.3);

--warden: #864C89;
--wardenop: rgba(134, 76, 137, 0.5);
--wardenoop: rgba(134, 76, 137, 0.3);

  /* radius sizes */

    --xsradius: 0.2rem;
    --sradius: 0.3rem;
    --radius: 0.5rem; 
    --lradius: 0.8rem;
    --xlradius: 1rem; 
  
 /* GRADIENTS GÉNÉRAUX */
  
  /* ACCENTS */
  --accentgrad: linear-gradient(60deg, var(--accentclrdark), var(--accentclr), var(--accentclrdarker));
  --accentgradop: linear-gradient(60deg, var(--accentclrdarkop), var(--accentclrop), var(--accentclrdarkerop));
  --accentgradop2: linear-gradient(60deg, var(--accentclrdarkop2), var(--accentclrop2), var(--accentclrdarkerop2));

  --accentgrad2: linear-gradient(to top, var(--accentclr), var(--accentclrdarker));
  --accentgrad2op: linear-gradient(to top, var(--accentclrop), var(--accentclrdarkerop));
  --accentgrad2op2: linear-gradient(to top, var(--accentclrop2), var(--accentclrdarkerop2));

  /* NEUTRES */
  --neutralgrad: linear-gradient(to bottom, var(--neutral), var(--neutraldark), var(--neutraldarker));
  
  
  /* GROUPES GRADIENTS (BOTTIN) */ 
--entigradoop: linear-gradient(
    to right,
    var(--entioop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);
  
--bloomgradoop: linear-gradient(
    to right,
    var(--weaveroop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);

--wildgradoop: linear-gradient(
    to right,
    var(--kinoop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);

--pyregradoop: linear-gradient(
    to right,
    var(--pyreoop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);

--kingradoop: linear-gradient(
    to right,
    var(--kinoop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);

--tidegradoop: linear-gradient(
    to right,
    var(--tideoop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);

--terragradoop: linear-gradient(
    to right,
    var(--terraoop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);

--duskgradoop: linear-gradient(
    to right,
    var(--duskoop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);

--veilgradoop: linear-gradient(
    to right,
    var(--wardenoop),
    var(--neutraldark),
    var(--neutraldark),
    var(--neutraldark)
);

  }


/*-------- CLASSES DE BASE ---------*/

.weaver, weaver { color: var(--weaver);}

.pyre, pyre {color: var(--pyre);}

.kin, kin {color: var(--kin);}

.tide, tide {color: var(--tide);}

.terra, terra {color: var(--terra);}

.dusk, dusk {color: var(--dusk);}

.warden, warden {color: var(--warden);}

.enti, enti {color: var(--enti);}
  
/*--------- OPACITÉS ---------*/  
  
  /* 0.5 */
.weaverop, weaverop { color: var(--weaverop);}
  
.pyreop, pyreop {color: var(--pyreop);}  
  
.kinop, kinop {color: var(--kinop);}
  
.tideop, tideop {color: var(--tideop);}

.terraop, terraop {color: var(--terraop);}

.duskop, duskop {color: var(--duskop);}

.wardenop, wardenop {color: var(--wardenop);}

.entiop, entiop {color:var(--entiop);}

  /* 0.3 */ 
 
.weaveroop, weaveroop {color: var(--weaveroop);}

.pyreoop, pyreoop {color: var(--pyreoop);}

.kinoop, kinoop {color: var(--kinoop);}

.tideoop, tideoop {color: var(--tideoop);}

.terraoop, terraoop {color: var(--terraoop);}

.duskoop, duskoop {color: var(--duskoop);}

.wardenoop, wardenoop {color: var(--wardenoop);}

.entioop, entioop {color:var(--entioop);}

/*--------- POLICES ---------*/

subrayada{font-family: montserrat subrayada;}
pacifico{font-family:pacifico;}
reddit{font-family:'reddit sans condensed';}
teachers{font-family:teachers;}  
tiltneon{font-family:'tilt neon';}
ubunmono{font-family:'ubuntu sans mono';}
ubunsans{font-family:'ubuntu sans';}
work{font-family:'work sans';}

/* KR */

nanumps {font-family: "Nanum Pen Script", cursive;}
nanumg {font-family: "Nanum Gothic", sans-serif;}
gotha1 {font-family: "Gothic A1", sans-serif;}
cutek {font-family: "Cute Font", sans-serif;}
jua {font-family: "Jua", sans-serif;}
gaegu {font-family: "Gaegu", cursive;}
bhsans {font-family: "Black Han Sans", sans-serif;}
dohyeon {font-family: "Do Hyeon", sans-serif;}
gowun {font-family: "Gowun Dodum", sans-serif;}
poorstory {font-family: "Poor Story", cursive;}
mplus {font-family: "M PLUS Rounded 1c", sans-serif;}      
dongle{font-family: "Dongle", sans-serif;}


/*--------- STYLES DE TEXTES ---------*/

bb{
  font-weight:700;
  background:var(--accentclr);
  background-size: 100%; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

u{
  text-decoration: none;
  border-bottom: 1px solid var(--accentclr);
}


/*--------- BOUTONS, TAGS ---------*/  

  /*highlights*/

hl {
    background: var(--accentgrad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
hl2 {
    background: var(--accentgrad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


  /* tags accent, neutre catégories */

atag, ntag {
    border-radius: var(--sradius);
    padding: 0.1rem var(--xsradius);
    border: 1px solid var(--accentclrdarkop2);
    font-size: 10px;
    font-family: reddit sans condensed;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--accentclr);
    letter-spacing: 0.05rem;
}
          
ntag{background: var(--neutralgrad);}
atag{background: var(--accentgrad2op2);}
